
 body{
   font-family:'Josefin Slab', 'Open Sans', sans-serif;
 }

/*dégradé perso pour menu*/
.persoBg{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+39,9ecb2d+63 */
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #2dcd5a 7%, #9ecb2d 55%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2dcd5a 7%,#9ecb2d 55%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(bottom,  #2dcd5a 7%,#9ecb2d 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.persoOrange{
  color: #cd822d;
}
.persoBlueLt{
  color:#2da0cd;
}
.persoGreen{
  color:#2dcd5a;
}
.persoBlue{
  color:#2d50cd;
}

html{
  scroll-behavior: smooth !important;
}
/* Effet hover SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #cd822d;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #cd822d;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .65s;
}
/* pour remplacer le placeholder par défaut de Bootstrap*/
::placeholder{
  font-style: italic;
  color:#2da0cd !important;
}
textarea{
  width: 100% !important;
}

select multiple{
  width: 100% !important;
}

.vertical{
  transform: rotate(-90deg);
  transform-origin: 2 2 !important;
}
.carousel-inner img {
  width: 100%;
  height: auto;

/* .vertical{
  font-size: 14px;
  letter-spacing: 0.025rem;
  color: #cd822d;
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  transform: rotate(-90deg)!important;
  transform-origin: 0 0;
  color: rgba(255,255,255,0.5);
}
  
  a.vertical{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    transition-property: color;
    transition-duration: .25s;
    transition-timing-function: ease;
  }
    a.vertical :hover{
      color: #ffcc00;
    }
      a.vertical :after{
        color: rgba(255,255,255,0.5);
    }
    a.vertical :after{
      content: '\002794';
      padding: 0 .5rem;
      display: inline-block;
    } */